useDynLib(largeScaleR, C_port)

importFrom("utils", "head")
importFrom("utils", "hasName")

# 0util.R
export("envGet")
export("envSet")
export("info")
export("is.AsIs")
export("is.distributed")
export("is.verbose")
export("isA")
export("unAsIs")
S3method("combine", "data.frame")
S3method("combine", "default")
S3method("combine", "matrix")
S3method("combine", "table")
S3method("preview", "error")
S3method("resolve", "default")
S3method("size", "data.frame")
S3method("size", "default")
S3method("size", "error")
S3method("size", "matrix")

# chunk.R
export("root")
S3method("chunkStub", "integer")
S3method("desc", "chunkStub")
S3method("desc<-", "chunkStub")
S3method("format", "chunkStub")
S3method("from", "chunkStub")
S3method("from<-", "chunkStub")
S3method("host", "chunkStub")
S3method("host<-", "chunkStub")
S3method("is", "chunkStub")
S3method("port", "chunkStub")
S3method("port<-", "chunkStub")
S3method("preview", "chunkStub")
S3method("preview<-", "chunkStub")
S3method("print", "chunkStub")
S3method("resolved", "chunkStub")
S3method("resolved<-", "chunkStub")
S3method("resolve", "chunkStub")
S3method("size", "chunkStub")
S3method("size<-", "chunkStub")
S3method("to", "chunkStub")
S3method("to<-", "chunkStub")

# control.R
export(".Last")
export("kill")
export("clearComms")

# distobj.R
export("distObjDo")
export("distObjSet")
export("distObjStub")
S3method("$", "distObjStub")
S3method("Complex", "distObjStub")
S3method("Math", "distObjStub")
S3method("Ops", "distObjStub")
S3method("Summary", "distObjStub")
S3method("chunkStub", "distObjStub")
S3method("chunkStub<-", "distObjStub")
S3method("dim", "distObjStub")
S3method("from", "distObjStub")
S3method("from<-", "distObjStub")
S3method("is", "distObjStub")
S3method("print", "distObjStub")
S3method("resolved", "distObjStub")
S3method("resolved<-", "distObjStub")
S3method("resolve", "distObjStub")
S3method("size", "distObjStub")
S3method("table", "distObjStub")
S3method("to", "distObjStub")
S3method("to<-", "distObjStub")

# env.R
export(".largeScaleRConfig")
export(".largeScaleRChunks")
export(".largeScaleRConn")
export(".largeScaleRProcesses")
export(".largeScaleRKeys")
export("addChunk")
export("commsConn")

# generic.R
export("args")
export("chunkStub")
export("chunkStub<-")
export("combine")
export("dbpass")
export("dbpass<-")
export("desc")
export("desc<-")
export("dim")
export("distribute")
export("from")
export("from<-")
export("fun")
export("host")
export("host<-")
export("loc")
export("loc<-")
export("name<-")
export("pass")
export("pass<-")
export("port")
export("port<-")
export("preview")
export("preview<-")
export("read")
export("resolved")
export("resolved<-")
export("resolve")
export("size")
export("size<-")
export("stub")
export("table")
export("target")
export("to")
export("to<-")
export("unstub")
export("user")
export("user<-")
S3method("dim", "default")
S3method("desc", "default")
S3method("preview", "default")
S3method("table", "default")
S3method("args", "default")

# in.R
export("localCSV")
S3method("loc", "localCSV")
S3method("print", "localCSV")
S3method("read", "localCSV")

# move.R
export("alignment")
export("findTarget")
export("osrvCmd")
export("osrvGet")
S3method("stub", "chunkStub")
S3method("stub", "distObjStub")
S3method("stub", "integer")
S3method("stub", "numeric")
S3method("unstub", "chunkStub")
S3method("unstub", "default")
S3method("unstub", "distObjStub")

# msg.R
export("msg")
S3method("args", "msg")
S3method("desc", "msg")
S3method("fun", "msg")
S3method("print", "msg")
S3method("target", "msg")

# init.R

export("commsProcess")
export("execute")
export("init")
export("process")
export("register")
export("userProcess")
export("workerCounter")
export("workerProcess")
export("workerProcess")  
S3method("dbpass", "commsProcess")
S3method("dbpass<-", "commsProcess")
S3method("desc", "process")
S3method("desc<-", "process")
S3method("execute", "process")
S3method("execute<-", "process")
S3method("host", "process")
S3method("host<-", "process")
S3method("pass", "process")
S3method("pass<-", "process")
S3method("port", "process")
S3method("port<-", "process")
S3method("print", "process")
S3method("register", "commsProcess")
S3method("register", "logProcess")
S3method("register", "userProcess")
S3method("register", "workerProcess)"
S3method("user", "process")
S3method("user<-", "process")

# request.R
export("access")
export("checkKey")
export("clean")
export("inform")
export("populate")
export("send")
S3method("do.call", "chunkStub")
S3method("do.call", "distObjStub")

# respond.R
export("checkInterest")
export("evaluate")
export("post")
export("queue")
export("respond")
export("respondInterest")
export("worker")
S3method("read", "queue")
