importFrom(rediscc, redis.connect)
importFrom(rediscc, redis.push)
importFrom(rediscc, redis.pop)
importFrom(rediscc, redis.inc)
importFrom(rediscc, redis.rm)

export(distInit)
export(do.call.chunk)
export(do.call.distChunk)
export(read.queue)
export(conn)
export(send)
export('chunkID<-')
export(op)
export(chunk)
export(fun)
export(dist)
export(static)
export(jobID)

S3method(dist, msg)
S3method(jobID, msg)
S3method(chunk, msg)
S3method(format, distChunk)
